body {
    background: linear-gradient(to bottom, #3498db, #e74c3c);
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 100px;
}

.mainHeading{
    font-size: 50px;
    font-weight: bold;
}

.glass-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.customLink{
    color: #fff;
}
